
process {

    // default LSF node config
    executor='slurm'
    memory='64 GB'
    // maxRetries = 2
    // errorStrategy = 'retry'
    // the coolest feature of 'retry' that
    // one can dynamically adjust config for
    // processes - each one individually, or for all
    // using {task.attempt} as an index of attempt
    // queue='short'
    // queue = { task.attempt<=1 ? 'short' : 'long' }
    // time='4h'
    // time = { task.attempt<=1 ? '4h' : '12h' }

    // Set the location for temporary folders (mostly used in sorting).
    distillerTmpDir='./'
    // distillerTmpDir='/tmp'

    // use this scope of config
    // to specify LSF submission node
    // configuration. Use 'params'
    // to fine tune cpu requirements
    // for different scipts inside a process


    withName: download_truncate_chunk_fastqs {        
        maxForks = 10
        cpus = 4
        memory = '32 GB'
    }

    withName: local_truncate_chunk_fastqs {        
        cpus = 4
        memory = '32 GB'
    }

    withName: fastqc {
        cpus = 4
        memory = '4 GB'
    }


    withName: map_parse_sort_chunks {
        maxForks = 25
        cpus = 8
        memory = '24 GB'
    }

    withName: merge_dedup_splitbam {
        maxForks = 10
        cpus = 4
        memory = '16 GB'
    }

    withName: bin_zoom_library_pairs {
        maxForks = 10
        cpus = 8
        memory = '64 GB'
    }

    withName: merge_zoom_library_group_coolers {
        maxForks = 10
        cpus = 8
        memory = '64 GB'
    }

    //
    // withName: merge_stats_libraries_into_groups
    // { use defaults }
    //


}

// singularity containers usage example
singularity {
    enabled = true
    // mount external "/nearline" to internal "/mnt"
    runOptions = "--bind /home/lamj2,/scr1/users/lamj2:/mnt:rw"
    // enable automount when available
    autoMounts = true
    cacheDir = "/home/lamj2/scr/.singularity/cache/"
}


// docker is rarely an option on
// big shared clusters.
docker {
    enabled = false
}
